In [1]:
import pandas as pd

In [2]:
url = "Data.csv"

In [3]:
Data = pd.read_csv(url)

In [4]:
Data.head(10)

   id                    comment_text  user_id  photo_id           created_at
0   1                 unde at dolorem        2         1  2023-05-13 15:14:58
1   2                 quae ea ducimus        3         1  2023-05-13 15:14:58
2   3              alias a voluptatum        5         1  2023-05-13 15:14:58
3   4            facere suscipit sunt       14         1  2023-05-13 15:14:58
4   5          totam eligendi quaerat       17         1  2023-05-13 15:14:58
5   6              vitae quia aliquam       21         1  2023-05-13 15:14:58
6   7  exercitationem occaecati neque       24         1  2023-05-13 15:14:58
7   8                  sint ad fugiat       31         1  2023-05-13 15:14:58
8   9           nesciunt aut nesciunt       36         1  2023-05-13 15:14:58
9  10           laudantium ut nostrum       41         1  2023-05-13 15:14:58

In [5]:
Data.shape[0]
Data.info()
Data.shape
Data.shape[1]
Data.index
Data.values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1000 non-null   int64
 1   comment_text  1000 non-null   object
 2   user_id       1000 non-null   int64
 3   photo_id      1000 non-null   int64
 4   created_at    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

array([[1, 'unde at dolorem', 2, 1, '2023-05-13 15:14:58'],
       [2, 'quae ea ducimus', 3, 1, '2023-05-13 15:14:58'],
       [3, 'alias a voluptatum', 5, 1, '2023-05-13 15:14:58'],
       ...,
       [998, 'dolorem dolor sed', 30, 35, '2023-05-13 15:14:58'],
       [999, 'dicta aut non', 32, 35, '2023-05-13 15:14:58'],
       [1000, 'mollitia et praesentium', 36, 35, '2023-05-13 15:14:58']],
      shape=(1000, 5), dtype=object)

In [6]:
column_data_types = Data.dtypes
print(column_data_types)

id               int64
comment_text    object
user_id          int64
photo_id         int64
created_at      object
dtype: object

In [7]:
column_data_type = Data['user_id'].dtype
print(column_data_type)

int64

In [8]:
Data.sort_values("user_id")

      id         comment_text  user_id  photo_id           created_at
0      1      unde at dolorem        2         1  2023-05-13 15:14:58
198  199     debitis id ullam        2         8  2023-05-13 15:14:58
628  629  eligendi maiores et        2        23  2023-05-13 15:14:58
539  540     quod ipsam optio        2        20  2023-05-13 15:14:58
339  340      unde magnam est        2        13  2023-05-13 15:14:58
..   ...                  ...      ...       ...                  ...
902  903         non esse sit      100        31  2023-05-13 15:14:58
235  236    impedit enim quis      100         8  2023-05-13 15:14:58
114  115        quia omnis ab      100         4  2023-05-13 15:14:58
170  171    sed voluptas esse      100         6  2023-05-13 15:14:58
961  962             a et sed      100        33  2023-05-13 15:14:58

[1000 rows x 5 columns]

In [9]:
Data.sort_values("user_id", ascending=False)

      id          comment_text  user_id  photo_id           created_at
404  405      illo quibusdam a      100        14  2023-05-13 15:14:58
868  869  est sunt perferendis      100        30  2023-05-13 15:14:58
114  115         quia omnis ab      100         4  2023-05-13 15:14:58
802  803       iure quasi sunt      100        28  2023-05-13 15:14:58
170  171     sed voluptas esse      100         6  2023-05-13 15:14:58
..   ...                   ...      ...       ...                  ...
339  340       unde magnam est        2        13  2023-05-13 15:14:58
261  262  iure veniam corporis        2        10  2023-05-13 15:14:58
539  540      quod ipsam optio        2        20  2023-05-13 15:14:58
198  199      debitis id ullam        2         8  2023-05-13 15:14:58
236  237      earum et dolorem        2         9  2023-05-13 15:14:58

[1000 rows x 5 columns]

In [10]:
Data.sort_values(["user_id", "id"])

      id          comment_text  user_id  photo_id           created_at
0      1       unde at dolorem        2         1  2023-05-13 15:14:58
198  199      debitis id ullam        2         8  2023-05-13 15:14:58
236  237      earum et dolorem        2         9  2023-05-13 15:14:58
261  262  iure veniam corporis        2        10  2023-05-13 15:14:58
339  340       unde magnam est        2        13  2023-05-13 15:14:58
..   ...                   ...      ...       ...                  ...
802  803       iure quasi sunt      100        28  2023-05-13 15:14:58
868  869  est sunt perferendis      100        30  2023-05-13 15:14:58
902  903          non esse sit      100        31  2023-05-13 15:14:58
961  962              a et sed      100        33  2023-05-13 15:14:58
986  987      non tenetur quod      100        34  2023-05-13 15:14:58

[1000 rows x 5 columns]

In [11]:
Data.sort_values(["user_id", "id"], ascending=[True, False])

      id          comment_text  user_id  photo_id           created_at
628  629   eligendi maiores et        2        23  2023-05-13 15:14:58
539  540      quod ipsam optio        2        20  2023-05-13 15:14:58
339  340       unde magnam est        2        13  2023-05-13 15:14:58
261  262  iure veniam corporis        2        10  2023-05-13 15:14:58
236  237      earum et dolorem        2         9  2023-05-13 15:14:58
..   ...                   ...      ...       ...                  ...
404  405      illo quibusdam a      100        14  2023-05-13 15:14:58
284  285      iusto aliquid ut      100        10  2023-05-13 15:14:58
235  236     impedit enim quis      100         8  2023-05-13 15:14:58
170  171     sed voluptas esse      100         6  2023-05-13 15:14:58
114  115         quia omnis ab      100         4  2023-05-13 15:14:58

[1000 rows x 5 columns]

In [12]:
subset_Data = Data["user_id"]
print(subset_Data)
subset_Data1 = Data[["user_id", "id", "comment_text"]]
print(subset_Data1)

0       2
1       3
2       5
3      14
4      17
       ..
995    24
996    27
997    30
998    32
999    36
Name: user_id, Length: 1000, dtype: int64
     user_id    id             comment_text
0          2     1          unde at dolorem
1          3     2          quae ea ducimus
2          5     3       alias a voluptatum
3         14     4     facere suscipit sunt
4         17     5   totam eligendi quaerat
..       ...   ...                      ...
995       24   996     recusandae magnam ut
996       27   997  incidunt qui blanditiis
997       30   998        dolorem dolor sed
998       32   999            dicta aut non
999       36  1000  mollitia et praesentium

[1000 rows x 3 columns]

In [13]:
subset_df = Data[Data['id'] > 1000]
print(subset_df)


subset_df = Data[Data['user_id'] == "3"]
print(subset_df)

# subsetting with mulitple conditions
subset_df1 = Data['id'] > 1000
subset_df2 = Data['user_id'] == "3"
subset_df3 = Data[subset_df1 & subset_df2]
subset_df3.head()

Empty DataFrame
Columns: [id, comment_text, user_id, photo_id, created_at]
Index: []
Empty DataFrame
Columns: [id, comment_text, user_id, photo_id, created_at]
Index: []

Empty DataFrame
Columns: [id, comment_text, user_id, photo_id, created_at]
Index: []

In [14]:
print(Data['user_id'].dtype)

int64

In [20]:
Data['user_id'] = Data['user_id'].astype(float)

In [23]:
Data["total"] = Data["photo_id"]*Data["user_id"]

In [24]:
Data.head(20)

,id,comment_text,user_id,photo_id,created_at,total
0,1,unde at dolorem,2.0,1,2023-05-13 15:14:58,2.0
1,2,quae ea ducimus,3.0,1,2023-05-13 15:14:58,3.0
2,3,alias a voluptatum,5.0,1,2023-05-13 15:14:58,5.0
3,4,facere suscipit sunt,14.0,1,2023-05-13 15:14:58,14.0
4,5,totam eligendi quaerat,17.0,1,2023-05-13 15:14:58,17.0
5,6,vitae quia aliquam,21.0,1,2023-05-13 15:14:58,21.0
6,7,exercitationem occaecati neque,24.0,1,2023-05-13 15:14:58,24.0
7,8,sint ad fugiat,31.0,1,2023-05-13 15:14:58,31.0
8,9,nesciunt aut nesciunt,36.0,1,2023-05-13 15:14:58,36.0
9,10,laudantium ut nostrum,41.0,1,2023-05-13 15:14:58,41.0
10,11,omnis aut asperiores,52.0,1,2023-05-13 15:14:58,52.0
11,12,et eum molestias,54.0,1,2023-05-13 15:14:58,54.0
12,13,alias pariatur neque,55.0,1,2023-05-13 15:14:58,55.0
13,14,amet iure adipisci,57.0,1,2023-05-13 15:14:58,57.0
14,15,cum enim repellat,62.0,1,2023-05-13 15:14:58,62.0
15,16,provident dolorem non,63.0,1,2023-05-13 15:14:58,63.0
16,17,eos consequuntur impedit,66.0,1,2023-05-13 15:14:58,66.0
17,18,voluptas nemo blanditiis,71.0,1,2023-05-13 15:14:58,71.0
18,19,id fugit dolores,72.0,1,2023-05-13 15:14:58,72.0
19,20,occaecati tenetur exercitationem,75.0,1,2023-05-13 15:14:58,75.0

In [25]:
def categorize_price(user_id):
    if user_id < 5:
        return 'Low'
    elif user_id < 10:
        return 'Medium'
    else:
        return 'High'

In [27]:
Data['users'] = Data['user_id'].apply(categorize_price)
Data.head()

,id,comment_text,user_id,photo_id,created_at,total,price_group,users
0,1,unde at dolorem,2.0,1,2023-05-13 15:14:58,2.0,Low,Low
1,2,quae ea ducimus,3.0,1,2023-05-13 15:14:58,3.0,Low,Low
2,3,alias a voluptatum,5.0,1,2023-05-13 15:14:58,5.0,Medium,Medium
3,4,facere suscipit sunt,14.0,1,2023-05-13 15:14:58,14.0,High,High
4,5,totam eligendi quaerat,17.0,1,2023-05-13 15:14:58,17.0,High,High